attrs==20.3.0
fvcore==0.1.5.post20210423
iniconfig==1.1.1
iopath==0.1.8
numpy==1.21.0
packaging==20.9
Pillow==9.0.1
pluggy==0.13.1
portalocker==2.3.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.3
pytorch3d==0.3.0
PyYAML==5.4.1
tabulate==0.8.9
termcolor==1.1.0
toml==0.10.2
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm==4.60.0
typing-extensions==3.10.0.0
yacs==0.1.8
